[submodule "themes/hugo-uilite"]
	path = themes/hugo-uilite
	url = https://github.com/uicardiodev/hugo-uilite
[submodule "mujtaba.github.io"]
	path = mujtaba.github.io
	url = https://github.com/mujjazi/mujtaba.github.io.git
