[submodule "themes/hugo-uilite"]
	path = themes/hugo-uilite
	url = https://github.com/uicardiodev/hugo-uilite
[submodule "mujjazi.github.io"]
	path = mujjazi.github.io
	url = https://github.com/mujjazi/mujjazi.github.io.git
